
body{
    background-image: radial-gradient(rgba(0, 245, 57, 0.517), 
    rgba(74, 245, 0, 0.539),rgba(252, 68, 7, 0.544)) ,
    url("imag/pngwing.com.png");
    background-size: cover;
    background-repeat: repeat;
}

.pagina{
    display:grid;
    justify-content: center;
    border:solid;
    padding-bottom: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-template-rows: repeat(2,fr);
    grid-template-columns: repeat(2,fr);
}

h1{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px  rgb(113, 2, 2);
    font-size: 250%;
}
